PORT = 8000
MONGODB_URI = mongodb+srv://fsgvdbvndvzvxccnbnnzvvcbcvbc
CORS_ORIGIN = *
ACESS_TOKEN_SECRET=youraccesstokensecret
ACESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=yourrefreshtokensecret
REFRESH_TOKEN_EXPIRY=10d


CLOUDINARY_CLOUD_NAME=gsgesfsed
CLOUDINARY_API_KEY=857536345t3
CLOUDINARY_API_SECRET=gbfxsfsgshbssdfssfdbzfagd